* {
    box-sizing: border-box;
    background: #131313;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__menu .navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 1.75rem;
}

.navbar__links:hover {
    color: #384d6d;
    transition: all 0.3s ease;
}

.navbar__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateAndGrow 4s infinite ease-in-out;
}


.navbar__socials{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__socials .navbar__item{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


@keyframes rotateAndGrow {
    0% {
        transform: rotate(0deg) scale(1);
        /* Start at 0 degrees and normal size */
    }
    25% {
        transform: rotate(-10deg) scale(1.1);
        /* Rotate left to -10 degrees and grow */
    }
    50% {
        transform: rotate(0deg) scale(1);
        /* Back to 0 degrees and normal size */
    }
    75% {
        transform: rotate(10deg) scale(1.1);
        /* Rotate right to 10 degrees and grow */
    }
    100% {
        transform: rotate(0deg) scale(1);
        /* Back to 0 degrees and normal size */
    }
}
